.business-type {
  background-position: center;
  background-size: cover;
  height:100%;
  min-height: 100vh;
  .topnav {
    padding: 1.2rem 1.2rem 0rem 1.2rem;
  }
  .bussiness-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .bussiness-type {
      width: 6.2rem;
      height: 6.2rem;
      margin: 0.425rem;
      border-radius: 20px;
      border: solid 0.8px #ffffff;
      background-color: rgba(209, 189, 255, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .bussiness-type__img {
        min-width: 32px;
        min-height: 32px;
        display: flex;
        align-items: center;
      }
      &.active {
        box-shadow: 0 2px 8px 0 #deceff;
        color: var(--dark-color);
        background-color: #ffffff;
      }
      .bussiness-type__checkmark {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--sec-bgcolor);
        border-radius: 50%;
        margin-inline-start: 3rem;
        position: absolute;
        margin-top: 2.6rem;
      }
      .bussiness-type__name {
        text-align: center;
        font-size: .75rem;
      }
    }
  }
  .checkmark{
    padding-bottom: 0.1rem;
    display:inline-block;
    
    &:after{
      /*Add another block-level blank space*/
      content: '';
      display: block;
   
      /*Make it a small rectangle so the border will create an L-shape*/
      width: 0.4rem;
      height: 0.8rem;
   
      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid var(--white-color);
      border-width: 0 2px 2px 0;
   
      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg);
    }
  }
.text-wrap {
    display: flex;
    justify-content: space-between;
    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .text-container__title {
        font-size: 1.125rem;
        font-weight: bold;
      }
      .text-container__text {
        font-size: 0.875rem;
        padding: 0.4rem 0rem 0.6rem 0rem;
      }
    }
  }
  .choose-menu {
    display: flex;
    justify-content: center;
    .choose-menu__text {
      font-size: 0.75rem;
      padding: 0 0.7rem;
      display: flex;
      align-items: center;
    }
    .choose-menu__button {
      border-radius: 20px;
      border: solid 0.8px var(--white-color);
      background-color: rgba(209, 189, 255, 0.5);
      font-size: 12px;
      font-size: 0.75rem;
      padding: 0.25rem 0.75rem;
      align-items: center;
      justify-content: center;
      color: var(--white-color);
    }
  }
  .add-menu {
    .add-menu__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .selected-business {
        font-size: 1.125rem;
        padding: 0.15rem 0.4rem;
        span {
          padding: 0 0.3rem;
        }
      }
    }
    .add-menu__text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .subject-textarea {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-top: 1.75rem;
    .subject-textarea-wrap {
      padding-bottom: 0.6rem;
      display: flex;
    }
  
    .subject-textarea-wrap__text {
      font-size: .875rem;
      border: none;
      resize: none;
      border-bottom: solid 1px var(--sec-bgcolor);
      overflow: hidden;
    }
  
    .subject-textarea-wrap__note {
      padding: 0 0.75rem;
    }
  }
}
