.start-button-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-button {
  width: 100%;
  padding: 0.75rem 1.1rem;
  .all-set-form__button {
    text-align: center;
    background-image: linear-gradient(100deg, #591ec0, #6623db 27%, #7d3ee8 53%, #be95ff 111%);
    opacity: 0.5;
    height: 3.25rem;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 10rem;
    color: var(--white-color);
    font-size: 1.125rem;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    &.active {
      opacity: 1;
      transition: opacity 0.3s;
    }
    &.start {
      justify-content: center;
      span {
        padding: 0rem 0.85rem;
      }
    }
  }
  .start-button__sing-up {
    font-weight: bold;
  }
}

.start-button .loader {
	width: 1.625rem;
	height: 1.625rem;
	animation: 1s spin infinite linear;
}
.scaler {
 animation: 0.5s init_loader;
}

@keyframes init_loader {
  0% {
    transform: scale(0)
  }
}

@-moz-keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}